.sidebar.panel.panel-default
  ul
    li
      a(href='http://twitter.com/thorntail_io') Follow @thorntail_io
    li
      a(href='https://groups.google.com/forum/#!forum/thorntail') Google Group
    li
      a(href='https://issues.redhat.com/projects/THORN/issues?filter=allopenissues') Issue Tracker
    li.last
      a(href='https://ci.thorntail.io') Continuous Integration
    //-li
      //- a(href='/rss.xml') RSS Feed
